body{
    background-color: rgb(0, 0, 135);
    color: white;
}

.portada{
text-align: center;
}
.boton{
    padding: 15px 20px;
    font-size: 1.2em;
    background-color: #ffffff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.boton:hover{
    background-color: #FFA500;
}
.fra{
    font-size: 1.2em;
    font-style: italic;
}
.autor{
    font-size: 1.5em;

}
.contenido{
    position: relative;
    z-index: 2;
}
