body {
    background-color: rgb(0, 0, 135);
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.portada {
    text-align: center;
    padding: 20px;
}

.boton {
    padding: 15px 20px;
    font-size: 1.2em;
    background-color: #ffffff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.boton:hover {
    background-color: #FFA500;
}

.fra {
    font-size: 1.2em;
    font-style: italic;
}

.autor {
    font-size: 1.5em;
}

.contenido {
    position: relative;
    z-index: 2;
}


img {
    max-width: 90%;
    height: auto;
}


@media (max-width: 600px) {
    .autor {
        font-size: 1.2em;
    }

    .fra {
        font-size: 1em;
    }

    .boton {
        font-size: 1em;
        padding: 12px 16px;
    }
}